@import '../../styles/variables';

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dotted $text;
    border-radius: 8px;
    padding: 1em;
}

.cardFavourited {
    border: 1px solid $highlight;
    border-radius: 8px;
}

.card__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__body {
    width: 100%;
}

.episode {
    font-size: 1.25rem;
    font-weight: $font-bold;
    color: $highlight;
}

.subtitle {
    color: $gray;
    font-family: $aurebesh;
}

.link {
    &:focus,
    &:hover {
        color: lighten($text, 10%);
    }
}