@import '../../styles/variables';

.button {
    font-family: inherit;
    color: $highlight;
    background: none;
    border: none;
    cursor: pointer;
    
    &:hover {
        color: $primary;
        background-color: $highlight;
    }
}