@import '../styles/variables';

.film{
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.filmInfo {
    align-self: flex-start;
    border: 1px dotted $highlight;
    padding: 1em;
}

.characters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    font-size: 3rem;
}